.home-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 20px;
  gap: 1.2rem;
}

.dashboard-btn,
.create-products-btn {
  border-radius: 15px;
  outline: none;
  border: none;
  transition: all 3s;
}

.create-products-btn :hover {
  background-color: rgb(66, 19, 110);
}
.dashboard-btn:hover {
  background-color: rgb(66, 19, 110);
}
.logout-btn {
  position: absolute;
  right: 20px;
  padding: 10px;
  border-radius: 20px 0px 10px 10px;
  background-color: crimson;
}
